<div class="govuk-panel--confirmation row-form-action-confirmation" data-js="action-confirmation">
  <button class="row-form-action-confirmation__close-btn" data-js="close-btn">&#10005;</button>
  <p class="govuk-body">
      {{ bodyText }}
  </p>
</div>