<div class="govuk-panel--confirmation row-form-action-confirmation" data-js="action-confirmation">
  <button class="row-form-action-confirmation__close-btn" data-js="close-btn">
    <span aria-hidden="true">&#10005;</span>
    <span class="govuk-visually-hidden">Close</span>
  </button>
  <p class="govuk-body">
      {{ bodyText }}
  </p>
</div>