<link href="/assets/css/main.css" media="all" rel="stylesheet" type="text/css"/>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css" integrity="sha512-CfKjNB//tIKy0qWu2NGaeYtFSMpnZrRc/QMp2jEd5gCyJrrG7dprT/LV7Rat0kIdysQhvNP/MMvuIDt5MbPhhQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js" integrity="sha512-FUwF6W2ayWzkTxfzZ4NHTOR5fqV1Fj5NJfvyttsHkfIvlJwDlnRBVjUuZurjwQGgDDlPFk/uyk8XkaUtAjnZ6Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
