<table class="govuk-table report-responsive-table">
  <!-- <caption class="govuk-table__caption">Items of wreck material reported</caption> -->
  <thead class="govuk-table__head report-responsive-table__head">
  <tr class="govuk-table__row report-responsive-table__row">
    <th scope="col" class="govuk-table__header govuk-!-width-one-third report-responsive-table__header">Description</th>
    <th scope="col" class="govuk-table__header govuk-table__header--numeric report-responsive-table__header">Quantity</th>
    <th scope="col" class="govuk-table__header govuk-table__header--numeric report-responsive-table__header">Total value</th>
    <th scope="col" class="govuk-table__header report-responsive-table__header">Image</th>
    <th scope="col" class="govuk-table__header report-responsive-table__header">Storage postcode</th>
    <th scope="col" class="govuk-table__header report-responsive-table__header">Actions</th>
  </tr>
  </thead>

  <tbody class="govuk-table__body report-responsive-table__body">
  {% for id, property in data["property"] %}
  {% set imagePath = "" %}
  {% if data["property"][id]['image'] %}
    {% set imagePath = "/uploads/" +  data["property"][id]['image'] %}
  {% endif %}
    <tr class="govuk-table__row report-responsive-table__row">
      <td class="govuk-table__cell report-responsive-table__cell">{{ property["description"] }}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric report-responsive-table__cell">{{ property["quantity"] }}</td>
      {% if property['value'] === "" %}
      <td class="govuk-table__cell govuk-table__cell--numeric report-responsive-table__cell">Unknown</td>
      {% else %}
        <td class="govuk-table__cell govuk-table__cell--numeric report-responsive-table__cell">£{{ property["value"] }}</td>
      {% endif %}
      {% if not property['image'] %}
        <td class="govuk-table__cell report-responsive-table__cell"><strong class="govuk-tag govuk-tag--blue">Not provided</strong></td>
      {% else %}
        <td class="govuk-table__cell report-responsive-table__cell"><img src="{{ imagePath }}" width="100" loading="lazy"/></td>
      {% endif %}
      {% if property['storage-address'] == "personal" %}
        <td class="govuk-table__cell report-responsive-table__cell">
          {{ data["personal"]["address-postcode"] }}
        </td>
      {% elseif property['storage-address'] == "custom" %}
        <td class="govuk-table__cell report-responsive-table__cell">
          {{ data["property"][id]["address-details"]["address-postcode"] }}
        </td>
      {% else %}
        <td class="govuk-table__cell report-responsive-table__cell">
        </td>
      {% endif %}
      <td class="govuk-table__cell report-responsive-table__cell">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href="/report/property-form/{{ id }}">Change<span class="govuk-visually-hidden"> item</span></a>
          </li>
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href="/report/property-delete/{{ id }}">Remove<span class="govuk-visually-hidden"> item</span></a>
          </li>
        </ul>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>