// global styles for <a> and <p> tags
$govuk-global-styles: true;

@import '~govuk-frontend/govuk/all';
@import 'accessible-autocomplete';

//Utilities 
@import './utilities/display';

// Components
@import './components/location';
@import './components/map';
@import './components/check-answers';
@import './components/confirmation';
@import './components/image-upload';
@import './components/responsive-table';
@import './components/action-confirmation';