{% extends "layout.html" %}

{% block pageTitle %}
  Create a Receiver of Wreck account
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/portal/create/name">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/portal/create/confirmation" method="post">

        {% call govukFieldset({
          legend: {
            text: "Create a password",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

          <p>Your password must be 8 or more characters. You can use a mix of letters, numbers or symbols.</p>
        
          <div class="govuk-form-group">
            <label class="govuk-label" for="password">
              Password
            </label>
          
            <input class="govuk-input govuk-!-width-full" id="password" name="password" type="password" minlength="8" required>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="password">
              Confirm password
            </label>
          
            <input class="govuk-input govuk-!-width-full" id="password" name="password" type="password" minlength="8" required>
          </div>
        
        
        {% endcall %}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
