@import '../utilities/display';

.row-form-action-confirmation {
  .govuk-body {
    color: white;
    margin-bottom: 0;
  }
}

.row-form-action-confirmation {
  position: relative;
  height: 25px;
  padding: 15px;
  margin: 25px 0;
  overflow: hidden;

  @media screen and (max-width: 600px) {
    padding: 10px;
    padding-right: 35px;
    height: 40px;
  }

  &__close-btn {
    position: absolute;
    right: 1rem;
    padding: 2px 6px;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1);
    font-size: 100%;
    font-family: inherit;
    border: 0;
    background-color: transparent !important;
    color: currentColor !important;

    @media screen and (max-width: 600px) {
      height: 40px;
      right: 0.5rem;
      top: 0.5rem;
    }

    &:hover {
      color: currentColor;
      transform: scale(1.1);
    }

    &:focus {
      border-color: #ffdd00;
      outline: 3px solid transparent;
      box-shadow: inset 0 0 0 2px #ffdd00;
    }
  }
}