.declaration-wrapper {
  background-color: #f3f2f1;

  .govuk-checkboxes__label:before {
    background-color: white;
  }
}

.check-answers__details-rowgap {
  @media (min-width:641px) {
    margin-top: -30px;
  }
}
