.row-prototype-coordinate-input {
  .govuk-form-group {
    display: inline-block;
    margin-bottom: 0;
  }

  @include govuk-media-query($from: tablet) {
    display: inline-block;
    margin-right: 1em;
  }
}

.autocomplete__option {
  &:hover,
  &--focused {
    span {
      color: white;
    }
  }
}
