{% extends "layout.html" %}

{% block pageTitle %}
  Sign in to Receiver of Wreck reports - {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/portal/start">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Receiver of Wreck account</h1>

      <div id="api" data-name="Unified">
      <form id="localAccountForm" action="JavaScript:void(0);" class="localAccount" aria-label="Sign in with your email address">
        <div class="intro">
          <h2 aria-level="1">
            Sign in with your email address
          </h2>
        </div>
        <div class="error pageLevel" aria-hidden="true" role="alert" style="display: none;">
          <p></p>
        </div>
        <div class="entry">
          <div class="entry-item">
            <label for="email">
              Email Address
            </label>
            <div class="error itemLevel" aria-hidden="true" role="alert" style="display: none;">
              <p></p>
            </div>
            <input type="email" id="email" name="Email Address" title="Please enter a valid Email Address" pattern="^[a-zA-Z0-9!#$%&amp;'+^_`{}~-]+(?:\.[a-zA-Z0-9!#$%&amp;'+^_`{}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$" autofocus="" placeholder="Email Address" aria-label="Email Address">
          </div>
            <div class="entry-item">
              <div class="password-label">
                <label for="password">Password</label>
                    <a id="forgotPassword" href="/mcactitest.onmicrosoft.com/B2C_1_login/api/CombinedSigninAndSignup/unified?claimsexchange=ForgotPassword&amp;csrf_token=MUpwdVQ0b051SEpyK2NhVFllbklLM0xQS3psY05XbkxOUkNaWWllTkRiN2FmdThxZHgvd2ZoRHhOdlF6Uk9jSTYyRDY0MDhsTXFscnl3WWFsS3cxL3c9PTsyMDIxLTAzLTMwVDIxOjQ1OjA0Ljg0MTAyNzFaO2VxZGlKNThDcEczQ1lBL0c2WG5hOEE9PTt7Ik9yY2hlc3RyYXRpb25TdGVwIjoxfQ==&amp;tx=StateProperties=eyJUSUQiOiI3YjcwOTMyNy1hMTUxLTQxMjUtODIzMy01ZjgxN2IxMjI2ZjQifQ&amp;p=B2C_1_login">Forgot your password?</a>
                              </div>
              <div class="error itemLevel" aria-hidden="true" style="display: none;">
                <p role="alert"></p>
              </div>
              <input type="password" id="password" name="Password" placeholder="Password" aria-label="Password" autocomplete="current-password" aria-required="true">
                          </div>
          <div class="working"></div>


          <div class="buttons">
            <button id="next" type="submit" form="localAccountForm">Sign in</button>
          </div>
        </div>
      </form>
  </div>


    </div>
  </div>

{% endblock %}
