{% extends "layout.html" %}

{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% block pageTitle %}
Report Details
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<a class="govuk-back-link" href="/portal/dashboard">Back to reports</a>
{% endblock %}

{% block content %}

{% if reportData.crf99_salvageawardclaimed %}
{% set salvageAwardClaim = "Yes" %}
{% else %}
{% set salvageAwardClaim = "No" %}
{% endif %}

{% set reportDetail %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 class="govuk-heading-m">Details of find</h2>
        {% set wreckFindDateText %}
        {{ reportData.dateFound }}
        {% endset -%}

        {% set wreckReportDateText %}
        {{ reportData.dateReported }}
        {% endset -%}

        {{ govukSummaryList({
            rows: [
                {
                key: {
                    text: "Date found"
                },
                value: {
                    html: wreckFindDateText,
                    actions: {
                    items: []
                    }
                }
                },
                {
                key: {
                    text: "Date reported"
                },
                value: {
                html: wreckReportDateText
                },
                actions: {
                    items: []
                }
                },
                {
                key: {
                text: "Wreck material removed"
                },
                value: {
                text: "Yes"
                },
                actions: {
                    items: []
                }
                }
            ]
            }) }}
    </div>

    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 class="govuk-heading-m govuk-!-margin-top-5">Your details</h2>

        {% set addressHtml %}
        {% set addressLines = [
                data.userAddress1,
                data.userAddress2,
                data.userCity,
                data.userCounty,
                data.userPostcode
            ] %}

        {{ address(addressLines) }}
        {% endset -%}

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Full name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['userName'] }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email address
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['userEmail'] }}
                </dd>
            </div>
            {% if data['userTel'] %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Telephone number
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['userTel'] }}
                </dd>
            </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ addressHtml }}
                </dd>
            </div>
        </dl>
    </div>

    {% if reportData.crf99_vesselname %}
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-heading-m">Vessel information</h2>

      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Vessel name
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ reportData.crf99_vesselname }}
              </dd>
          </div>
          {% if reportData.crf99_vesselyearconstructed %}
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Vessel construction year
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ reportData.crf99_vesselyearconstructed }}
              </dd>
          </div>
          {% endif %}
          {% if reportData.crf99_vesselyearsunk %}
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Vessel sunk year
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ reportData.crf99_vesselyearsunk }}
              </dd>
          </div>
          {% endif %}
      </dl>
    </div>
    {% endif %}

    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 class="govuk-heading-m govuk-!-margin-top-5">Location</h2>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Coordinates
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ reportData.coordinates }}
                </dd>
            </div>
            {% if reportData['recovered-from'] %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Salvaged from
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ reportData['recovered-from'] }}
                </dd>
            </div>
            {% endif %}
            {% if reportData.crf99_depth %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Depth
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ reportData.crf99_depth }} metres
                </dd>
            </div>
            {% endif %}
            {% if reportData.crf99_wreckconstructiondetails %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Vessel description
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ reportData.crf99_wreckconstructiondetails }}
                </dd>
            </div>
            {% endif %}
        </dl>

        <div data-js="static-map">
          <div id="location-map" class="map-display hide-on-print" data-latitude="{{ reportData.crf99_latitude }}" data-longitude="{{ reportData.crf99_longitude }}"
              data-radius="{{ reportData.crf99_locationradius }}"></div>
        </div>
    </div>

    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m govuk-!-margin-top-9">Wreck material</h2>

        <table class="govuk-table report-responsive-table">
            <caption class="govuk-table__caption">Items of wreck material reported
            <thead class="govuk-table__head report-responsive-table__head">
                <tr class="govuk-table__row report-responsive-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Quantity</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total value</th>
                    <th scope="col" class="govuk-table__header">Image</th>
                    <th scope="col" class="govuk-table__header">Storage address</th>
                </tr>
            </thead>

            <tbody class="govuk-table__body">
              {% for item in reportData.crf99_MCAWreckMaterial_WreckReport_crf99_ %}
              <tr class="govuk-table__row report-responsive-table__row">
                  <td class="govuk-table__cell report-responsive-table__cell">
                      <span>Description:</span>
                      {{ item.crf99_description }}
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric report-responsive-table__cell">
                      <span>Quantity:</span>
                      {{ item.crf99_quantity }}
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric report-responsive-table__cell">
                      <span>Total value:</span>
                      {% if item.crf99_value %}
                        £{{ item.crf99_value }}
                      {% else %}
                        Unknown
                      {% endif %}
                  </td>
                  <td class="govuk-table__cell report-responsive-table__cell" data-label="Image">
                      <span>Image:</span>
                      <a class="glightbox" href="{{ item.crf99_imageurl }}">
                        <img src="{{ item.crf99_imageurl }}" width="250"/>
                      </a>
                  </td>
                  <td class="govuk-table__cell report-responsive-table__cell" data-label="Storage address">
                      <span>Storage address:</span>
                      {% set addressLines = item.storageAddress %}
                      {{ address(addressLines) }}
                  </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 class="govuk-heading-m govuk-!-margin-top-5">Salvage</h2>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Claim of expenses
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ salvageAwardClaim }}
                </dd>
            </div>
            {% if reportData.crf99_salvageawardclaimed %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Services rendered
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ reportData.crf99_servicesdescription }}
                </dd>
            </div>
            {% endif %}
        </dl>
    </div>
</div>

{% endset -%}

{% set reportOutcome %}
<h2 class="govuk-heading-m">Owner has waived their rights to the wreck material found</h2>

<p class="govuk-body">The Receiver of Wreck has concluded their investigations into the report of wreck and salvage (reference (154/21). We have been able to successfully locate the current legal owner of the wreck of the <em>HMS Drake</em>.</p>

<p class="govuk-body">Following the Receiver’s correspondence with the wreck owner, the owner has decided, on this occasion, to waive rights to the material recovered by you and listed below.</p>

<p class="govuk-body">Therefore, in accordance with section 243 of the Merchant Shipping Act 1995, the Receiver of Wreck is able to offer you title to the material listed below in lieu of a salvage award.</p>

<p class="govuk-body">Items as listed and described by you:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>2 x Dutch Navy cannon weighing 56kg and 1262mm in length.</li>
    <li>1 x The bell of the SS Mendi. Includes the identifying marking 'Mendi'.</li>
    <li>4 x German U-boat propellers measuring 60cm in diameter.</li>
</ul>

<h2 class="govuk-heading-m">What happens next?</h2>
<p class="govuk-body">The Receiver of Wreck’s responsibility for this item is now discharged and our investigation is now officially closed.</p>

<p class="govuk-body">Please look after this piece of Britain’s maritime heritage.</p>

<p class="govuk-body">Although on this occasion you have been awarded this item in lieu of a salvage award, please note that you are still required to report all future recoveries from this (or any other) wreck.</p>

<p>
{{ govukButton({
    text: "Print a copy of this outcome notice",
    classes: "govuk-button--secondary hide-on-print",
    attributes: {
    "onClick": "window.print()"
    }
}) }}
</p>
{% endset -%}


<div class="govuk-grid-row">        
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
            Report overview
        </h1>

    </div>
</div>

<div class="govuk-grid-row">        
    <div class="govuk-grid-column-one-half-from-desktop">

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Reference
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ reportData.crf99_reportreference }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Report status
                </dt>
                <dd class="govuk-summary-list__value">
                    {{govukTag({
                        text: reportData.status,
                        classes: "govuk-tag--" + reportData.statusColour + " govuk-!-margin-bottom-2"
                      })}}
                      <br />
                      <!--<a href="#correspondence" class="scroll-to-latest-message">(see latest message)</a>-->
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Last update
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ reportData['last-updated'] }}
                </dd>
            </div>
        </dl>

    </div>
</div>

{% if reportData.status === 'closed' %}
  {% set tabs %}
    {{ govukTabs({
        items: [
            {
                label: "Report details",
                id: "detail",
                    panel: {
                        html: reportDetail
                    }
            },
            {
                label: "Outcome",
                id: "outcome",
                panel: {
                    html: reportOutcome
                }
            }
        ]
      }) }}
  {% endset %}
  {% else %}
  {% set tabs %}
    {{ govukTabs({
        items: [
            {
                label: "Report details",
                id: "detail",
                    panel: {
                        html: reportDetail
                    }
            }
        ]
      }) }}
  {% endset %}
  {% endif %}        

<div class="govuk-grid-row">        
    <div class="govuk-grid-column-full">
        {{ tabs }}

    </div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
{% endblock %}