{% extends "layout.html" %}

{% block pageTitle %}
  Account error - Report wreck material – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Account error
      </h1>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">User account error</span>
          Please make sure that you have reported your wreck and salvage before you check a report status.
        </strong>
      </div>
      <p>Report your wreck and salvage using the <a href="/report/start">Report Wreck and Salvage service</a></p>
    </div>

  </div>
{% endblock %}