{% extends "layout.html" %}

{% block pageTitle %}
  Error
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        There was a problem
      </h1>
      <p>An error occured when dealing with your request.</p>
      <h2 class="govuk-heading-m">Please select one of two options:</h2>
      <ul>
        <li><a href="/report/start">Report wreck and salvage form</a></li>
        <li><a href="/portal/start">Check the status of wreck material reported</a></li>
      </ul>

    </div>

  </div>
{% endblock %}